.title {
    text-align: center;
}

.full-width {
    width: 100%;
}

.form-group {
    margin-top: 15px;
}

.alert {
    color:red;
}

.resultBtn {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}