#main{ 
    margin: 0 auto;
    margin-top: 2%;
    width: 50%;
    height: 50%;
    border: 1px solid grey;
}

.container{ 
  padding: 0 5% 5%;
  display: block;
}

.title {
    text-align: center;
}

.full-width {
    width: 100%;
}

.form-group {
    margin-top: 15px;
}

.alert {
    color:red;
}