<div id="main">
    <h1 class="title">Adding task</h1>
    <form #addForm="ngForm" class="container">
        <div class="form-group">
            <md-input-container class="full-width">
                <input mdInput minlength="5" maxlength="100" [(ngModel)]="task.title" name="title" #title="ngModel" placeholder="Title" required>
                <md-hint align="end">{{ task.title.length }} / 100</md-hint>
            </md-input-container>
            <div *ngIf="title.errors && (title.dirty || title.touched)" class="alert alert-danger">
                <div [hidden]="!title.errors.required">
                    Title is required
                </div>
                <div [hidden]="!title.errors.minlength">
                    Title must be at least 5 characters long.
                </div>
                <div [hidden]="!title.errors.maxlength">
                    Title cannot be more than 100 characters long.
                </div>
            </div>
        </div>

        <div class="form-group">
            <table class="full-width" cellspacing="1">
                <tr>
                    <td>
                        <md-input-container #date>
                            <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" required>
                            <button mdSuffix [mdDatepickerToggle]="picker"></button>
                        </md-input-container>
                        <md-datepicker #picker></md-datepicker>
                    </td>
                    <td>
                        <md-input-container #time>
                            <input mdInput type="time" placeholder="Time (h:m)" required>
                        </md-input-container>
                    </td>
                    <td>
                        <md-input-container>
                            <input #duration="ngModel" mdInput type="number" [(ngModel)]="task.duration" name="duration" placeholder="Duration (m)" min="1"
                                max="200" required>
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                    <div *ngIf="duration.errors && (duration.dirty || duration.touched)" class="alert alert-danger">
                        <div [hidden]="!duration.errors.required">
                            Duration is required
                        </div>
                        <div [hidden]="!duration.errors.min">
                            Duration must be at least 1 long.
                        </div>
                        <div [hidden]="!duration.errors.max">
                            Duration cannot be more than 200 long.
                        </div>
                    </div>
                </tr>
            </table>
        </div>

        <div class="form-group">
            <md-select #priority="ngModel" class="full-width" placeholder="Priority" [(ngModel)]="task.priority" name="priority" required>
                <md-option [value]="3">Low</md-option>
                <md-option [value]="2">Medium</md-option>
                <md-option [value]="1">High</md-option>
            </md-select>
            <div *ngIf="priority.errors && priority.touched" class="alert alert-danger">
                <div [hidden]="!priority.errors.required">Priority is required</div>
            </div>
        </div>

        <div class="form-group">
            <md-input-container class="full-width">
                <textarea mdInput #description="ngModel" minlength="5" maxlength="300" placeholder="Description" [(ngModel)]="task.description"
                    name="description" required></textarea>
                <md-hint align="end">{{ task.description.length }} / 300</md-hint>
            </md-input-container>
            <div *ngIf="description.errors && (description.dirty || description.touched)" class="alert alert-danger">
                <div [hidden]="!description.errors.required">
                    Description is required
                </div>
                <div [hidden]="!description.errors.minlength">
                    Description must be at least 5 characters long.
                </div>
                <div [hidden]="!description.errors.maxlength">
                    Description cannot be more than 300 characters long.
                </div>
            </div>
        </div>

        <div class="form-group">
            <button md-raised-button color="primary" [disabled]="!addForm.form.valid" (click)="submit(date._mdInputChild.value, time._mdInputChild.value)">Add task</button>
        </div>
    </form>
</div>