.title {
    text-align: center;
}

.row-item {
    flex: 1 1 auto;
}

md-chip {
    padding: 10px;
    margin-right: 30px;
}

.tasks {
    height: 70%;
    overflow-y: scroll;
}

button {
    margin: 5px;
}

.full-width {
    width: 100%;
}

.result {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.empty-day {
     visibility: hidden;
}

.resultBtn {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}