.day {
    border: 1px double black;
}

.day:hover {
    cursor: pointer;
    background-color: lightskyblue;  
}

.selected {
    background-color: lightskyblue;
}

.header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

button {
  margin: 5px;
}

.spacer {
  flex: 1 1 auto;
}

.priority-low {
    background-color: green;
}

.priority-medium {
    background-color: yellow;
}

.priority-high {
    background-color: red;    
}